@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #454a4a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: antiquewhite;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
    overflow: hidden;
    padding: 1.5rem 2rem;
    text-align: left;
}

footer {
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}